<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<title>Mapa</title>
    <link rel="stylesheet" type="text/css" href="../Statics/css/Mapa.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+2">
  </head>
  <body>
  <!--Header-->
    <header>
      <a id="logo-header" href="Principal.html"><img src="../Statics/img/logo.png" class="logo">
		</a>
	   <nav>
		  <ul>
        <li><a href="../Dynamics/menu4.php"><i class="fa fa-cutlery"></i></a></li>
			  <li><a href="historia.html">Conócenos</a></li>
        <li><a href="Mapa.html"><i class="fa fa-map-o"></i></a></li>
			  <li><a href="sessioncaf.html">Acceder</a></li>
			  <li><a href="RegistroCafe.html">Crear Cuenta</a></li>
		  </ul>
	  </nav>
   </header>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <!--Section 1-->
   <section>
     <div>
     <h1>Mapa de entegas</h1>
   </div>
   </section>
   <br>
   <br>
   <!--Section 2-->
   <section>
     <div>
        <div><img src="../Statics/img/mapa-p6.png"></div>
     </div>
   </section>
   <!--Footer-->
   <footer>
     <nav>
       <ul>
         <li class="footer">Copyright &copy; 2020<li>
         <li class="footer">Todos los derechos reservados.</li>
       <ul>
      </nav>
   </footer>
 </body>
</html>
