<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<title>Inicio</title>
    <link rel="stylesheet" type="text/css" href="../Statics/css/Principal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+2">
  </head>
  <body>
    <!--Header-->
    <header>
      <a id="logo-header" href="Principal.html"><img src="../Statics/img/logo.png" class="logo">
		</a>
	   <nav>
		  <ul>
        <li><a href="../Dynamics/menu4.php"><i class="fa fa-cutlery"></i></a></li>
			  <li><a href="historia.html">Conócenos</a></li>
        <li><a href="Mapa.html"><i class="fa fa-map-o"></i></a></li>
			  <li><a href="sessioncaf.html">Acceder</a></li>
			  <li><a href="RegistroCafe.html">Crear Cuenta</a></li>
		  </ul>
	  </nav>
   </header>
   <!--Section 1-->
   <section>
     <div class="imgpri">
       <img src="../Statics/img/COYOTERRAZA.jpg">
     </div>
   </section>
   <!--Section 2-->
   <section>
     <div class="grid1">
        <div></div>
        <div><img src="../Statics/img/prepasix.png"></div>
        <div>
          <p class="g1">Descubre</p> <p class="g2">NUESTRA HISTORIA</p>
          <br><p class="g3">Coyoterraza es una cafetería localizada en el plantel #6 de la Escuela Nacional Preparatoria, se implementó en octubre del 2020 para brindar un espacio de comida saludable y de buena calidad a toda la comunidad de la preparatoria.
          <br><br><a href="historia.html">Saber más</a></p>
        </div>
        <div></div>
     </div>
   </section>
   <!--Section 3-->
   <section>
     <div class="grid2">
        <div><img src="../Statics/img/cuerno.jpg"></div>
        <div><img src="../Statics/img/churro.png"></div>
        <div><img src="../Statics/img/waffle.jpg"></div>
        <div><img src="../Statics/img/sand.jpg"></div>
     </div>
   </section>
   <!--Section 4-->
   <section>
     <div class="grid3">
        <div></div>
        <div>
          <p class="mg1">Conoce</p><p class="mg2">NUESTRO MENÚ</p>
          <br><p class="mg3">¿Buscas algo para comer o beber? Entra a nuestro menú y ve todo lo que tenemos para tí.
          <br><br><a href="../Dynamics/menu4.php">Ver menú completo</a></p>
        </div>
        <div><img src="../Statics/img/dona.jpg"></div>
        <div></div>
     </div>
   </section>
   <!--Section 5-->
   <section>
     <div>
       <img src="../Statics/img/wafles.png">
     </div>
   </section>
   <!--Section 6-->
  <section class="contenido wrapper">
	   <p></p>
   </section>
   <!--Footer-->
   <footer>
     <nav>
       <ul>
         <li class="footer">Copyright &copy; 2020<li>
         <li class="footer">Todos los derechos reservados.</li>
       <ul>
      </nav>
   </footer>
 </body>
</html>
