<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  	<title>Términos de Privacidad</title>
    <link rel="stylesheet" type="text/css" href="../Statics/css/privacidad.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sacramento">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Baloo+2">
  </head>
  <body>
  <!--Header-->
    <header>
      <a id="logo-header" href="Principal.html"><img src="../Statics/img/logo.png" class="logo">
		</a>
	   <nav>
		  <ul>
        <li><a href="../Dynamics/menu4.php"><i class="fa fa-cutlery"></i></a></li>
			  <li><a href="historia.html">Conócenos</a></li>
        <li><a href="Mapa.html"><i class="fa fa-map-o"></i></a></li>
			  <li><a href="sessioncaf.html">Acceder</a></li>
			  <li><a href="RegistroCafe.html">Crear Cuenta</a></li>
		  </ul>
	  </nav>
   </header>
   <br>
   <br>
   <br>
   <br>
   <br>
   <br>
   <!--Section 1-->
   <section>
     <div>
       <h1>Aviso de Privacidad</h1>
       <br>
       <br>
       <p>COYOTERRAZA S.A. con domicilio en Corina 3, Del Carmen, Coyoacán, 04100 Ciudad de México, CDMX, conforme a lo establecido en la Ley Federal de Protección de Datos en Posesión de Particulares, pone a disposición de nuestros clientes, proveedores, empleados y público en general, nuestro Aviso de Privacidad.
       Los datos personales que nos proporciona son utilizados estrictamente en la realización de funciones propias de nuestra cafetería y por ningún motivo serán transferidos a terceros.</p>
       <br>
       <br>
       <p>A nuestros clientes les solicitamos los siguientes datos personales:</p>
       <p>1.	Nombre, Fecha de Nacimiento, RFC, Número de Cuenta  y/o Número de Trabajador, para facilitar el proceso de verificación para poder acceder a nuestro servicio y/o compra de nuestros productos.</p>
       <br>
       <br>
       <p>A nuestros proveedores solicitamos los siguientes datos personales:</p>
       <p>1.	Nombre, Teléfono  y domicilio para facilitar el proceso de adquisición de mercancía.</p>
       <br>
       <br>
       <p>A nuestros empleados solicitamos los siguientes datos personales:</p>
       <p>1.	Nombre, Teléfono, Correo Electrónico, Domicilio, Fecha de Nacimiento.</p>
       <p>2.	Antecedentes laborales, sueldo y motivo de terminación laboral en los últimos cinco empleos.</p>
       <p>En caso de realizar modificaciones al presente Aviso de Privacidad, le informaremos mediante  nuestro sitio web oficial y medios impresos.</p>
       <br>
       <br>

       <p class='center'>____________________________________________________</p>
       <p class='center'>He leído y acepto los términos del presente Aviso de Privacidad.
       </p>
     </div>
   </section>
   <!--Footer-->
   <footer>
     <nav>
       <ul>
         <li class="footer">Copyright &copy; 2020<li>
         <li class="footer">Todos los derechos reservados.</li>
       <ul>
      </nav>
   </footer>
 </body>
</html>
