<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <style>
    div{
      width: 400px;
      margin: auto;
    }
    </style>
    <meta charset="utf-8">
    <title>Registro</title>
  </head>
  <body>
    <div>
		    <form method="post" action="../Dynamics/RegistroUsuarioCafe.php" >
          <fieldset>
            <legend><h1>Selecciona Usuario</h1></legend>
              <p>Tipo de cliente:
                <select name="usuario">
                  <option>Profesor_o_Funcionario</option>
                  <option>Alumno</option>
                  <option>Trabajador</option>
                </select></p>
              <input type="submit" value="Validar">
            </fieldset>
          </form>
				</div>
  </body>
</html>
